<style>
.wins,.losses{
  text-align:center;
}

.row {
  margin-top:0px !important;
  border-bottom:1px #B6B6B6 solid;
  padding-bottom:0px;
}
</style>
<ion-view view-title="Schedule" >

  <ion-content style="background:#212121; text-align:center;">
     
  <div class="row item-divider" style="text-align:left; color:#F1F1F1; background:#212121; padding-left:10px; font-weight:300;">  
    <div class="col">September 5th, 2015</div>
  </div>

   <div class="row item-divider" style="text-align:center; padding-bottom:0px;">  
    <div class="col">Away</div>
    <div class="col">Home</div>
    <div class="col">TIME (ET)</div>
  </div>

  

  <div class="row" style="background:#FFF; color:#536DFE; ">
    <div class="col">M. Stolarz</div>
    <div class="col">O. Lentini</div>
    <div class="col">5:15 PM</div>
  </div>

  <div class="row item-divider" style="text-align:left; color:#F1F1F1; background:#212121; padding-left:10px; padding-top:5px; font-weight:300;">  
    <div class="col">September 6th, 2015</div>
  </div>

   <div class="row item-divider" style="text-align:center; padding-bottom:0px;">  
    <div class="col">Away</div>
    <div class="col">Home</div>
    <div class="col">TIME (ET)</div>
  </div>

  

  <div class="row" style="background:#FFF; color:#536DFE; ">
    <div class="col">M. Stolarz</div>
    <div class="col">O. Lentini</div>
    <div class="col">5:15 PM</div>
  </div>

  
   
  </ion-content>
</ion-view>

