<style>
.wins,.losses{
  text-align:center;
}
</style>
<ion-view view-title="Standings" >

  <ion-content style="background:#333;">
     
   <div class="row item-divider">
    <div class="col col-5"></div>
    <div class="col col-50">Team</div>
    <div class="col">Wins</div>
    <div class="col">Losses</div>
  </div>

  <div class="row calm" style="background:#111; margin-top:3px;">
    <div class="col col-5" style="color:#fff">1</div>
    <div class="col col-50">Stolarz</div>
    <div class="col wins">3</div>
    <div class="col losses">4</div>
  </div>

  <div class="row calm" style="background:#222;">
    <div class="col col-5" style="color:#fff">2</div>
    <div class="col col-50">Lentini</div>
    <div class="col wins">4</div>
    <div class="col losses">3</div>
  </div>

  <div class="row calm" style="background:#111;">
    <div class="col col-5" style="color:#fff">3</div>
    <div class="col col-50">Ocasio</div>
    <div class="col wins">0</div>
    <div class="col losses">0</div>
  </div>
   
  </ion-content>
</ion-view>
