<style>
.wins,.losses{
  text-align:center;
}

.row {
  margin-top:0px !important;
  border-bottom:1px #B6B6B6 solid;
}
</style>
<ion-view view-title="Standings" >

  <ion-content style="background:#212121;">
     
   <div class="row item-divider">
    <div class="col col-5"></div>
    <div class="col col-50">Team</div>
    <div class="col">Wins</div>
    <div class="col">Losses</div>
  </div>

  <div class="row" style="background:#FFF; color:#212121 ">
    <div class="col col-5" style="color:#F44336">1</div>
    <div class="col col-50">Stolarz</div>
    <div class="col wins">3</div>
    <div class="col losses">4</div>
  </div>

  <div class="row" style="background:#FFF; color:#212121">
    <div class="col col-5" style="color:#F44336">2</div>
    <div class="col col-50">Lentini</div>
    <div class="col wins">4</div>
    <div class="col losses">3</div>
  </div>

  <div class="row" style="background:#FFF; color:#212121">
    <div class="col col-5" style="color:#F44336">3</div>
    <div class="col col-50">Ocasio</div>
    <div class="col wins">0</div>
    <div class="col losses">0</div>
  </div>
   
  </ion-content>
</ion-view>

